include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include weigh_bridge_management *.css
recursive-include weigh_bridge_management *.csv
recursive-include weigh_bridge_management *.html
recursive-include weigh_bridge_management *.ico
recursive-include weigh_bridge_management *.js
recursive-include weigh_bridge_management *.json
recursive-include weigh_bridge_management *.md
recursive-include weigh_bridge_management *.png
recursive-include weigh_bridge_management *.py
recursive-include weigh_bridge_management *.svg
recursive-include weigh_bridge_management *.txt
recursive-exclude weigh_bridge_management *.pyc
